@model webquanlykhachsan.Models.Room

@{
    ViewData["Title"] = "Xóa Phòng";
}

<div class="container py-4">
    <h1 class="text-danger">Xóa Phòng</h1>
    <h3>Bạn có chắc chắn muốn xóa phòng này không?</h3>
    <hr />
    <div class="card shadow-sm border-danger">
        <div class="card-body">
            <dl class="row">
                <dt class = "col-sm-2">@Html.DisplayNameFor(model => model.Number)</dt>
                <dd class = "col-sm-10">@Html.DisplayFor(model => model.Number)</dd>
                
                <dt class = "col-sm-2">@Html.DisplayNameFor(model => model.RoomType)</dt>
                <dd class = "col-sm-10">@Html.DisplayFor(model => model.RoomType!.Name)</dd>
            </dl>
        </div>
        <div class="card-footer">
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Xác Nhận Xóa" class="btn btn-danger" />
                <a asp-action="Index" class="btn btn-secondary">Quay Lại</a>
            </form>
        </div>
    </div>
</div>
